[client]
remote_addr = "<VPS_IP>:<VPS_PORT>"
default_token = "default_token = "<UNIQUE_TOKEN_SAME_AS_SERVER.TOML>"

[client.transport]
type = "noise"

[client.transport.noise]
pattern = "Noise_KK_25519_ChaChaPoly_BLAKE2s"
local_private_key = "client-priv-key-here"
remote_public_key = "server-pub-key-here"

# [client.services.wireguard]
# local_addr = "127.0.0.1:51820"
# type = "udp"

# [client.services.bitwarden]
# local_addr = "vaultwarden:80"

# [client.services.jellyseerr]
# local_addr = "jellyseerr:5055"