[server]
bind_addr = "<VPS_IP>:<VPS_PORT>"
default_token = "<UNIQUE_TOKEN_SAME_AS_CLIENT.TOML>"

[server.transport]
type = "noise"

# enable bidirectional authentication
# see: https://github.com/rapiz1/rathole/blob/main/docs/transport.md
[server.transport.noise]
pattern = "Noise_KK_25519_ChaChaPoly_BLAKE2s"
local_private_key = "server-priv-key-here"
remote_public_key = "client-pub-key-here"

# [server.services.wireguard]
# bind_addr = "0.0.0.0:51820"
# type = "udp"

# [server.services.bitwarden]
# bind_addr = "127.0.0.1:4743"

# [server.services.jellyseerr]
# bind_addr = "127.0.0.1:5055"
